In [1]:
import numpy as np
import pandas as pd
import json
import requests
from pandas.io.json import json_normalize
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans

print("Libraries Imported")

Libraries Imported

In [2]:
!conda install -c conda-forge geopy --yes
from geopy.geocoders import Nominatim    # converts address into latitude and longitude values.
!conda install -c conda-forge folium=0.5.0 --yes
import folium  #map rendering library
print('Imported Nominatim and Folium')

Fetching package metadata .............
Solving package specifications: .

Package plan for installation in environment /opt/conda/envs/DSX-Python35:

The following NEW packages will be INSTALLED:

    geographiclib: 1.49-py_0   conda-forge
    geopy:         1.18.1-py_0 conda-forge

geographiclib- 100% |################################| Time: 0:00:00  22.41 MB/s
geopy-1.18.1-p 100% |################################| Time: 0:00:00  35.93 MB/s
Fetching package metadata .............
Solving package specifications: .

Package plan for installation in environment /opt/conda/envs/DSX-Python35:

The following NEW packages will be INSTALLED:

    altair:  2.2.2-py35_1 conda-forge
    branca:  0.3.1-py_0   conda-forge
    folium:  0.5.0-py_0   conda-forge
    vincent: 0.4.4-py_1   conda-forge

altair-2.2.2-p 100% |################################| Time: 0:00:00  48.85 MB/s
branca-0.3.1-p 100% |################################| Time: 0:00:00  35.91 MB/s
vincent-0.4.4- 100% |################################| Time: 0:00:00  36.52 MB/s
folium-0.5.0-p 100% |################################| Time: 0:00:00  48.60 MB/s
Imported Nominatim and Folium

In [3]:
from pandas import DataFrame, Series
from pandas import read_html

In [4]:
from bs4 import BeautifulSoup 
!conda install html5lib

Fetching package metadata ...........
Solving package specifications: .

Package plan for installation in environment /opt/conda/envs/DSX-Python35:

The following packages will be UPDATED:

    html5lib: 0.999999999-py35h0543385_0 --> 1.0.1-py35_0

html5lib-1.0.1 100% |################################| Time: 0:00:00  44.18 MB/s

In [5]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

dframe_list = pd.io.html.read_html(url)

In [6]:
dframe = dframe_list[0]
dframe

,0,1,2
0,Postcode,Borough,Neighbourhood
1,M1A,Not assigned,Not assigned
2,M2A,Not assigned,Not assigned
3,M3A,North York,Parkwoods
4,M4A,North York,Victoria Village
5,M5A,Downtown Toronto,Harbourfront
6,M5A,Downtown Toronto,Regent Park
7,M6A,North York,Lawrence Heights
8,M6A,North York,Lawrence Manor
9,M7A,Queen's Park,Not assigned
10,M8A,Not assigned,Not assigned
11,M9A,Etobicoke,Islington Avenue
12,M1B,Scarborough,Rouge
13,M1B,Scarborough,Malvern
14,M2B,Not assigned,Not assigned
15,M3B,North York,Don Mills North
16,M4B,East York,Woodbine Gardens
17,M4B,East York,Parkview Hill
18,M5B,Downtown Toronto,Ryerson
19,M5B,Downtown Toronto,Garden District
20,M6B,North York,Glencairn
21,M7B,Not assigned,Not assigned
22,M8B,Not assigned,Not assigned
23,M9B,Etobicoke,Cloverdale
24,M9B,Etobicoke,Islington
25,M9B,Etobicoke,Martin Grove
26,M9B,Etobicoke,Princess Gardens
27,M9B,Etobicoke,West Deane Park
28,M1C,Scarborough,Highland Creek
29,M1C,Scarborough,Rouge Hill
...,...,...,...
260,M9X,Not assigned,Not assigned
261,M1Y,Not assigned,Not assigned
262,M2Y,Not assigned,Not assigned
263,M3Y,Not assigned,Not assigned
264,M4Y,Downtown Toronto,Church and Wellesley
265,M5Y,Not assigned,Not assigned
266,M6Y,Not assigned,Not assigned
267,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
268,M8Y,Etobicoke,Humber Bay
269,M8Y,Etobicoke,King's Mill Park
270,M8Y,Etobicoke,Kingsway Park South East
271,M8Y,Etobicoke,Mimico NE
272,M8Y,Etobicoke,Old Mill South
273,M8Y,Etobicoke,The Queensway East
274,M8Y,Etobicoke,Royal York South East
275,M8Y,Etobicoke,Sunnylea
276,M9Y,Not assigned,Not assigned
277,M1Z,Not assigned,Not assigned
278,M2Z,Not assigned,Not assigned
279,M3Z,Not assigned,Not assigned
280,M4Z,Not assigned,Not assigned
281,M5Z,Not assigned,Not assigned
282,M6Z,Not assigned,Not assigned
283,M7Z,Not assigned,Not assigned
284,M8Z,Etobicoke,Kingsway Park South West
285,M8Z,Etobicoke,Mimico NW
286,M8Z,Etobicoke,The Queensway West
287,M8Z,Etobicoke,Royal York South West
288,M8Z,Etobicoke,South of Bloor
289,M9Z,Not assigned,Not assigned

In [7]:
dframe.columns= dframe.iloc[0]
#drop the row used for column name
dframe = dframe.reindex(dframe.index.drop(0))

In [8]:
dframe.head()

0 Postcode           Borough     Neighbourhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

In [9]:

dframe1 = dframe[dframe.Borough != 'Not assigned']

In [10]:
dframe1.head()

0 Postcode           Borough     Neighbourhood
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront
6      M5A  Downtown Toronto       Regent Park
7      M6A        North York  Lawrence Heights

In [11]:
dframe1 = dframe1.reset_index()

In [12]:
dframe1 = dframe1.drop('index',axis=1)

##df = df.groupby('Name').agg({'Sid':'first', 
                             #'Use_Case': ', '.join, 
                            # 'Revenue':'first' }).reset_index()
##df = df.groupby(['Name','Sid','Revenue'])['Use_Case'].apply(', '.join).reset_index()

In [13]:
dframe1.head()

0 Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [14]:
dframe1.shape

(212, 3)

In [15]:
dframe2 = dframe1.groupby(['Postcode','Borough'])['Neighbourhood'].apply(','.join).reset_index()

In [16]:
dframe2.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [17]:
dframe2.shape

(103, 3)

In [18]:
dframe2.loc[dframe2['Neighbourhood'] == 'Not assigned']

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Not assigned

In [19]:
#df.replace({'A': {0: 100, 4: 400}})

dframe2.loc[85,'Neighbourhood'] = "Queen's Park"

In [20]:
dframe2.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

#import geocoder # import geocoder

# initialize your variable to None
lat_lng_coords = None

# loop until you get the coordinates
while(lat_lng_coords is None):
  g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
  lat_lng_coords = g.latlng

latitude = lat_lng_coords[0]
longitude = lat_lng_coords[1]

In [ ]:
dframe2

lat_lng_coords = None
while(lat_lng_coords is None):
    geolocator = Nominatim(user_agent = 'foursquare_agent')
    location = geolocator.geocode('{},Toronto,Ontario'.format(Postcode))
    lat_lng_coords['latitude'] = location.latitude
    lat_lng_coords['longitude'] = location.longitude
    
print(latitude,longitude)

In [28]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share your notebook.
client_7fb9f18cae0b4302ab46d5c3dececb7a = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='MV7SeKiVBgL_YhA_KucAIAdLRyfhxxT-ljs-ENX-VWi2',
    ibm_auth_endpoint="https://iam.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_7fb9f18cae0b4302ab46d5c3dececb7a.get_object(Bucket='courseraproject-donotdelete-pr-dmrpcohgy0epv9',Key='Geospatial_Coordinates.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [39]:
dframe2 = dframe2.rename(columns = {'Postcode' : 'Postal Code'})

In [40]:
dframe2.head()

  Postal Code      Borough                         Neighbourhood
0         M1B  Scarborough                         Rouge,Malvern
1         M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2         M1E  Scarborough       Guildwood,Morningside,West Hill
3         M1G  Scarborough                                Woburn
4         M1H  Scarborough                             Cedarbrae

In [36]:
df_data_1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [44]:
dframe3 = pd.merge(dframe2,df_data_1,on = 'Postal Code')

In [45]:
dframe3.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476